mixin thumbs-item(name, price, discount)
    li.thumbs-item.block.block_bg.block_bg-hover
        .thumbs-preview
            .thumbs-preview__pic
                img.thumbs-preview__img(src="https://www.customink.com/mms/images/catalog/styles/297300/catalog_detail_image_large.jpg" alt=name)
            if discount
                .thumbs-preview-price-wrap
                    .thumbs-preview__price #{price}
                    .thumbs-preview__currency USD
            .thumbs__name.title.title_md #{name}
        .thumbs-bottom
            .thumbs-bottom__left
                .thumbs__price
                    if discount
                        | #{discount}
                    else
                        | #{price}
                .thumbs__currency USD
            .thumbs-bottom__right
                a.btn.btn_sm.thumbs-btn(href="#") Add to cart